@use './variables' as *;

@mixin container {
  width: 100%;
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }

  @media (min-width: 1200px) {
    padding-inline: 0;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}